{% extends './layout.html' %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="/admin">后台首页</a></li>
    <li><a href="/admin/user_index">用户管理</a></li>
    <li><span>编辑用户</span></li>
</ol>

<form method="post">
    <div class="form-group">
        <label for="userName">用户名</label>
        <input type="text" class="form-control" id="userName" name="userName" disabled value="{{userInfo.userName}}">
    </div>
    <div class="form-group">
        <label >旧密码</label>
        <input type="password" class="form-control" name="oldPassword"  placeholder="输入现在的密码">
    </div>
    <div class="form-group">
        <label >修改密码</label>
        <input type="password" class="form-control" name="newPassword" placeholder="输入想要修改的密码">
    </div>
    <div class="form-group">
        <label >确认修改密码</label>
        <input type="password" class="form-control" name="rePassword" placeholder="确认想要修改的密码">
    </div>
    <a class="btn btn-default" href="/admin/user_index" role="button">取消</a>
    <button type="submit" class="btn btn-default">保存</button>
</form>

{% endblock %}